.projects-page {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 3%;
}

.left_menu {
  grid-row: 1;
  width: 300px;
}

.team-projects {
  grid-row: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 5%;
}

.search {
  width: 25%;
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .left_menu {
    width: 130px !important;
  }
}
