.projects-page {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 3%;
}
.left_menu {
  grid-row: 1;
  width: 300px;
}
.team-projects {
  grid-row: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 5%;
}
@media (max-width: 1024px) {
  .left_menu {
    width: 130px !important;
  }
}

.project {
  margin: 1.5em 0;
  padding: 0.73em;
  background-color: #fdfff1;
  box-shadow: 5px 5px 5px 5px #edf1d6;
  position: relative;
  list-style: none;
  display: inline-block;
  transform: scale(0.85);
  transition: all 0.4s ease;
  min-width: 100%;
  border-radius: 5px;
}

.project-content {
  display: flex;
  justify-content: space-between;
}

.project-icon {
  width: 20vmin;
  height: 13vmin;
  float: left;
  margin-right: 1.25em;
  background-color: #edf1d6;
  transform: rotate(-4deg);
  transition: all 0.4s ease;
  border-radius: 0.25em;
  overflow: hidden;
  margin-left: -3em;
  padding: 0.5em;
}

.project-icon img {
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
}

.name {
  background-image: linear-gradient(to left, #92bfb1, #55a6ca);
  color: transparent;
  padding: 0;
  background-clip: text;
  font-size: 40px;
  margin: 5px 0px;
  background-clip: text;
  font-family: Georgia, serif;
  -webkit-background-clip: text;
  text-overflow: ellipsis;
}

.project-status:after {
  content: attr(data-status);
  font-size: 1em;
  max-width: 700px;
  position: absolute;
  top: -1.5em;
  background-color: #ffdd40;
  right: 4em;
  transform: rotate(3deg);
  padding: 0.35em 0.75em 0.5em;
  border-radius: 0.25em;
  color: #2f313a;
  font-weight: bold;
}

.project-description {
  display: grid;
  grid-column: 1;
}

@media (max-width: 768px) {
  .team-page {
    flex-direction: column;
  }

  .team-projects,
  .team-members {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .member .thumb {
    width: 100px;
    height: 50px;
  }
}
