.settings-page {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 3%;
}
.left_menu {
  grid-row: 1;
  width: 300px;
}
.settings-window {
  grid-row: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 5%;
}
@media (max-width: 1024px) {
  .left_menu {
    width: 130px !important;
  }
}

.settings-page-content {
  display: flex;
  justify-content: space-around;
}

.settings-page-icon {
  box-shadow: 5px 5px 5px 5px #edf1d6;
  border-radius: 5px;
  width: 50vmin;
  height: 30vmin;
}

.settings-page-icon img {
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
}

.settings-content {
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  /* Убираем align-items, чтобы не центрировать по вертикали */
}

.settings-details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; /* Расстояние между элементами */
  width: 70%; /* Ширина может быть изменена в соответствии с вашими потребностями */
  padding: 20px; /* Отступы внутри рамочки */
  border: 1px solid transparent; /* Невидимая рамка */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Небольшая тень для лучшей видимости */
}

.settings-team {
  display: flexbox;
  justify-content: center;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.quit-button {
  background-color: rgb(182, 212, 47);
}

.delete-button {
  background-color: rgb(206, 75, 52);
}

@media (max-width: 768px) {
  .team-page {
    flex-direction: column;
  }

  .team-settingss,
  .team-members {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .member .thumb {
    width: 100px;
    height: 50px;
  }
}
