.task-page {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 3%;
}

.left_menu {
  grid-row: 1;
  width: 300px;
}

.task-window {
  grid-row: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

.task-page-content {
  margin-bottom: 2rem;
}

.task-details {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

.name {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.comments {
  margin-left: 5%;
  width: 90%;
}

.status {
  display: flex;
  flex-direction: row;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: linear-gradient(to left, #92bfb1, #55a6ca);
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
.select::-ms-expand {
  display: none;
}
.select-task {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  border-radius: 4px;
  background: #00ffcc;
  overflow: hidden;
}
.select-task::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #92bfb1;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select-task:hover::after {
  color: #ffffff;
}
.option {
  background-color: #55a6ca;
  color: rgb(255, 255, 255);
}

.comment {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  box-shadow: 5px 5px 5px 5px #c8c9c7;
  border-radius: 5px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.comment-file {
  padding: 3px;
}
.comment-icon {
  width: 8vmin;
  height: 8vmin;
  float: left;
  margin-right: 1.25em;
  box-shadow: 5px 5px 5px 5px #c8c9c7;
  transform: rotate(-4deg);
  transition: all 0.4s ease;
  padding: 1px;
  border-radius: 0.25em;
  overflow: hidden;
  margin-left: -3em;
}

.comment a {
  display: inline-block;
  margin-top: 5px;
  padding: 8px 16px;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.comment a:hover {
  background-color: #0056b3;
}

.comments-section {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.comment-input-both {
  display: flex;
  width: 100%; /* Задает ширину .comment-input-both равной 100% от .comments-section */
}

.comment-input input[type="text"],
.comment-input input[type="file"] {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 8px;
  width: 100%; /* Задает ширину инпутов равной 100% от .comment-input-both */
}

.comment-submit {
  align-self: flex-start;
}

@media (max-width: 1024px) {
  .left_menu {
    width: 130px;
  }
}

@media (max-width: 768px) {
  .task-page {
    grid-template-columns: 1fr;
    margin-top: 1%;
  }

  .left_menu,
  .task-window {
    width: 100%;
    margin-right: 0;
    padding: 10px;
  }

  .task-window {
    border-radius: 10px;
  }
}
