.workers-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.workers-list {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #c8c9c7;
}

.worker-card {
  margin: 1.5em 0;
  padding: 0.73em;
  background-color: #fafafa;
  box-shadow: 5px 5px 5px 5px #c8c9c7;
  position: relative;
  list-style: none;
  display: inline-block;
  transform: scale(0.85);
  transition: all 0.4s ease;
  min-width: 100%;
  border-radius: 5px;
}

.worker-icon {
  width: 22vmin;
  height: 18vmin;
  float: left;
  margin-right: 1.25em;
  box-shadow: 5px 5px 5px 5px #c8c9c7;
  transform: rotate(-4deg);
  transition: all 0.4s ease;
  padding: 1px;
  border-radius: 0.25em;
  overflow: hidden;
  margin-left: -3em;
}

.worker-icon img {
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  padding: 0;
}

.worker-name {
  background-image: linear-gradient(to left, #92bfb1, #55a6ca);
  color: transparent;
  padding: 0;
  background-clip: text;
  font-size: 40px;
  margin: 5px 0px;
  background-clip: text;
  font-family: Georgia, serif;
  -webkit-background-clip: text;
  text-overflow: ellipsis;
}

.worker-status:after {
  content: attr(data-status);
  font-size: 1em;
  max-width: 700px;
  position: absolute;
  top: -1.5em;
  background-color: #ffdd40;
  right: 4em;
  transform: rotate(3deg);
  padding: 0.35em 0.75em 0.5em;
  border-radius: 0.25em;
  color: #2f313a;
  font-weight: bold;
}

.worker-description {
  display: grid;
  grid-column: 1;
}

@media (max-width: 768px) {
  .team-page {
    flex-direction: column;
  }

  .team-workers,
  .team-members {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .member .thumb {
    width: 100px;
    height: 50px;
  }
}
