.form-page {
  max-width: 250px;
  height: 400px;
  margin: 50px auto;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-h2 {
  font-size: 40px;
  margin: 20px 0px;
  background-image: linear-gradient(to left, #92bfb1, #55a6ca);
  text-shadow: 1px 1px 2px #92bfb1;
  color: transparent;
  background-clip: text;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.auth-form {
  text-align: center;
}
.auth-input {
  border: none;
  outline: none;
  max-width: 150px;
  background: linear-gradient(to right, #f0f0f0, #e6e6e6);
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.auth-input:focus {
  background: linear-gradient(to right, #e6e6e6, #f0f0f0);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.auth-a {
  text-decoration: none;
  color: #0056b3;
}

.link-desc {
  margin: 3px;
}

@media screen and (max-width: 480px) {
  .form-page {
    padding: 10px; /* Уменьшите отступы для мобильных устройств */
  }
  .auth-h2 {
    font-size: 30px;
  }
  .auth-input {
    font-size: 14px; /* Уменьшите размер шрифта для мобильных устройств */
  }
}
