.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  top: 0;
  left: 0;
}

.header-frame {
  flex: 1;
  min-width: 25%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  background-image: linear-gradient(to left, #92bfb1, #55a6ca);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: Georgia, serif;
  font-size: 28px;
  font-style: italic;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 2px #92bfb1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.header-buttons {
  display: flex;
  margin-top: 15px;
}
.profile {
  margin-left: 1%;
}
.profile-short-info {
  display: flex;
}
.progress {
  --progress: 0%;
  width: 200px;
  height: 30px;
  background-color: rgb(247, 247, 247);
  text-align: center;
  border-radius: 5px;
}
.profile-text {
  font-size: 20px;
  background-image: linear-gradient(to left, #92bfb1, #55a6ca);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-left: 5px;
}
.progress .bar {
  width: var(--progress);
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(
    rgb(142, 233, 137),
    rgb(128, 221, 125),
    rgb(175, 230, 182)
  );
  background-repeat: repeat-y;
  animation: shine 5s ease-in infinite, end 0.5s ease-out 1 7s;
}

@property --progress {
  syntax: "<length>";
  initial-value: 0%;
  inherits: true;
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 60px;
  }
}
