.menu {
  width: 200px;
  height: 100vh;
  background-color: #ffffff;
  padding: 0;
  transition: width 0.3s ease-in-out, visibility 0s;
  visibility: visible;
  will-change: auto;
}

.menu.collapsed {
  width: 90px;
  visibility: collapse;
}
.ps-menu-button {
  padding: 0px;
}
/* Стили для пунктов меню */
.menu-item {
}

.menu-item i {
  font-size: 20px;
  color: black;
}

.menu-item span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu.collapsed .menu-item span {
  display: none;
}

/* Стили для подменю */
.sub-menu {
  padding: 0px;
  display: flex;
  justify-content: end;
}
.sub-menu-item {
  /* добавь синий цвет для текста submenu-item */
  color: #00a6ff;
  /* добавь подчеркивание при наведении на submenu-item */
  text-decoration: none;
}

.sub-menu-item:hover {
  /* добавь синий цвет для фона submenu-item при наведении */
  background-color: #007bff;
  /* добавь белый цвет для текста submenu-item при наведении */
  color: rgb(0, 0, 0);
  /* добавь плавный переход для эффектов */
}

.svg {
  fill: url(#MyGradient);
}
